---
---

@import "{{ site.theme }}";

.img-left {
  float: left;
  margin-right: 1em;
  width: 25%;
  border: 1px solid;
  margin-top: 20px;
}

.text-right {
  float: right;
  width: 70%;
  margin-top: 20px;
}

.clear-both {
  margin-top: 2em;
  margin-bottom: 2em;
  clear: both;
}

#header_wrap, #footer_wrap {
background-color: #AA151E;
background-image: linear-gradient(#AA151E,#AA151E);
}

#project_title, #project_tagline {
  color: #FFFFFC;
}

#main_content_wrap {
  background-color: #FFFFFC;
  background-image: linear-gradient(#FFFFFC,#FFFFFC);
  color: #000000;
}

.img-top {
  float: right; 
  margin: 1em;
  width: 50%;
}

#quote {
  color: #AA151E; 
  font-size: 20px; 
  font-family: Gentium Basic;
}

.qr {
  float: left;
  width: 15%;
  margin: 15px;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #AA151E;
  padding: 10px;
}

a, summary {
  color: #AA151E;
  font-weight: bold;
}

a:hover, summary:hover {
  color: #FF871F;
  text-decoration: none;
}

blockquote {
  border-left: 4px solid #AA151E;
  color: black; 
  font-family: Gentium Basic;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #FF871F;
}

.star-part-filled {
  display: inline-block;
  position: relative;
  font-size: 100px;
  color: #AA151E;
}

.star-part-filled:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  top: 0;
  width: 74%;
  overflow: hidden;
  color: #FF871F;
}

@media screen and (max-width: 480px) {
    .img-left {
         width: 100%;
         border: 1px solid;
         margin-top: 5px;
    }
    .text-right {
         width: 100%;
         margin-top: 5px;
    }
    .img-top {
      display: none;
    }
    
.qr {
  display: none;
}
}